<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aone.onlinefix">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_menu_camera"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.MainActivity"
            android:label="@string/title_activity_client_main" />
        <activity
            android:name=".view.SignupActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".view.LoginActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".view.SplashActivity"
            android:noHistory="true">

        </activity>
        <activity android:name=".view.BrandsActivity" />
        <activity
            android:name=".view.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>